<p>Associated grade : <%= @discipline.grade.name %></p>
<p>Discipline name : <%= @discipline.name %></p>
<p>Topics :</p>
<ul>
  <% @discipline.topics.each do |topic| %>
    <li><%= topic.name %></li>
  <% end %>
</ul>

