<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="links">
  <%= link_to "se connecter", user_session_path %>
  <%= link_to "Videos", videos_path %>
  <%= link_to "Channels", channels_path %>
</div>
